.sharedOptions {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sharedOptions button {
  width: 49%;
  border-style: none;
  height: 30px;
  font-size: 18px;
  background-color: #3f48cc;
  color: white;
  border-radius: 8px;
}